* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ADCCC6;
    color: black;
    padding: 0.7rem;
}

header .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    margin-left: 1rem;
    color: #023e8a;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 2rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li:hover {
    transform: translateY(-1px);
    transition: 0.5s;
}

header nav ul a:hover {
    color: #023e8a;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle .hamburger {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

main.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

#visit-message {
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    margin: 0.5rem;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sidebar-section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-section h3 {
    color: #023e8a;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sidebar-section p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.sidebar-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.photo-gallery img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.photo-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    filter: brightness(0.5);
    opacity: 0.9;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}
