* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80vh;
}

.thankyou-message {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(39, 39, 176);
}
.thankyou-message p a {
    color: rgb(237, 8, 0);
    padding: 1rem;
}


.submitted-information {
    margin-top: 20px;
}

.submitted-information h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.submitted-information ul {
    list-style-type: none;
}

.submitted-information ul li {
    margin-bottom: 10px;
}

.submitted-information ul li strong {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

footer p {
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: #666;
}
